<!-- Author: Alejandro Galue <agalue@opennms.org> -->

<div class="modal-header">
  <h3>Interface</h3>
</div>

<div class="modal-body">
  <form name="intfForm">
    <div class="form-group">
      <label class="control-label" for="ipAddress">IP Address</label>
      <input class="form-control" id="ipAddress" name="ipAddress" placeholder="IP Address" ng-model="intf.ipAddress" required/>
    </div>
    <div class="form-group">
      <label class="control-label" for="descr">Description</label>
      <input class="form-control" id="descr" name="descr" placeholder="Description" ng-model="intf.description"/>
    </div>
    <div class="form-group">
      <label class="control-label" for="snmpPrimary">SNMP Primary</label>
      <input class="form-control" id="snmpPrimary" name="snmpPrimary" ng-model="intf.snmpPrimary" typeahead-editable="false" typeahead="a.id as a.title for a in snmpPrimaryFields | filter:$viewValue | limitTo:3" required>
    </div>
    <label>Services</label>
    <a class="btn btn-default btn-xs" tooltip="Add a new service" ng-click="addService()">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="form-group">
      <div class="input-group" ng-repeat="service in intf.services">
        <input type="text" class="form-control" placeholder="Service Name" ng-model="service.name" required>
        <span class="input-group-addon glyphicon glyphicon-remove" ng-click="removeService($index)"/>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()" ng-disabled="intfForm.$invalid">Save</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
