<!-- OpenNMS Navigation Bar -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#onms-navbar-collapse" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/opennms"><img src="images/o-512.png" style="max-height: 40px; overflow: visible; padding-top: 0; padding-bottom: 0; margin-left: -10px; margin-top: -10px"></a>
  </div>
  <div class="collapse navbar-collapse" id="onms-navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/opennms/element/index.jsp">Search</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Info <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/opennms/element/nodeList.htm">Nodes</a></li>
          <li><a href="/opennms/asset/index.jsp">Assets</a></li>
          <li><a href="/opennms/pathOutage/index.jsp">Path Outages</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Status <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/opennms/event/list">Events</a></li>
          <li><a href="/opennms/alarm/list.htm">Alarms</a></li>
          <li><a href="/opennms/notification/browse?acktype=unack">Notifications</a></li>
          <li><a href="/opennms/outage/index.jsp">Outages</a></li>
          <li><a href="/opennms/surveillanceView.htm?viewName=default">Surveillance</a></li>
          <li><a href="/opennms/distributedStatusSummary.htm">Distributed Status</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/opennms/charts/index.jsp">Charts</a></li>
          <li><a href="/opennms/graph/index.jsp">Resource Graphs</a></li>
          <li><a href="/opennms/KSC/index.htm">KSC Reports</a></li>
          <li><a href="/opennms/report/database/index.htm">Database Reports</a></li>
          <li><a href="/opennms/statisticsReports/index.htm">Statistics</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dashboards <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/opennms/dashboard.jsp">Dashboard</a></li>
          <li><a href="/opennms/vaadin-wallboard">Ops Board</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Maps <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/opennms/RemotePollerMap/index.jsp">Distributed</a></li>
          <li><a href="/opennms/topology">Topology</a></li>
          <li><a href="/opennms/node-maps">Geographical</a></li>
          <li><a href="/opennms/map/index.jsp">SVG</a></li>
        </ul>
      </li>
      <li><a href="/opennms/admin/index.jsp">Admin</a></li>
    </ul>
  </div>
</nav>