<!-- Author: Alejandro Galue <agalue@opennms.org> -->

<div class="modal-header">
  <h3>Policy</h3>
</div>

<div class="modal-body">
  <form name="policyForm">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input class="form-control" id="name" name="name" placeholder="Name" ng-model="policy.name" required></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="class">Class</label>
      <input class="form-control" id="class" name="class" placeholder="Implementation Class" ng-model="policy.class" typeahead-editable="false" typeahead-on-select="updatePolicyParameters($item)" typeahead="policy.class as policy.name for policy in availablePolicies | filter:$viewValue" required></input>
    </div>
    <label>Parameters</label>
    <a class="btn btn-default btn-xs" tooltip="Add a new parameter" ng-click="addParameter()">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <div class="form-group" ng-repeat="parameter in policy.parameter">
      <policy-param parameter="parameter" index="{{$index}}"></policy-param>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()" ng-disabled="policyForm.$invalid">Save</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
